body {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/cart.png");
  background-color: #272727;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: #363636;
  position: relative;
}

nav img#startPage {
  width: 7vh;
  margin-right: 10px;
}

nav i#burguer-menu {
  display: flex;
  position: absolute;
  cursor: pointer;
  font-size: 2.25em;
  height: auto;
  width: 18vw;
  z-index: 1;
  margin-left: 1vw;
  margin-top: 2vh;
}

.aside {
  background-color: #363636;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  transition: width 0.5s ease;
  height: 100%;
  padding-top: 7vh;
}

.aside ul {
  padding: 0;
  margin: 0;
}
.aside ul li.itens {
  color: white;
  font-weight: bold;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.aside ul li.itens:hover {
  background-color: rgba(70, 70, 70);
}

.aside ul li.itens a:visited {
  color: white;
  text-decoration: none;
}

main {
  color: white;
  display: flex;
  transition: margin 0.5s ease;
}

menu {
  padding: 0;
}
